* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Canvas以外の要素でクリック可能にする要素 */
button, div {
  pointer-events: auto !important;
}

/* Canvas要素はpointer-eventsを無効化 */
canvas {
  pointer-events: auto; /* OrbitControlsのために有効 */
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
}

#canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
